.profil-picture {
  width: 180px;
  margin-top: 20px;
}

.comment-container {
  margin: 25px;
}

.comment-user-picture {
  width: 80px;
}

.comment-content {
  margin: 0;
}

.comment-date {
  color: #b3b3b3;
  font-family: Arial, Helvetica, sans-serif;
}

.grow{
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.grow:hover {
  transform: scale(2);
}

.green {
  color: green;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-error {
  color: red;
  font-style: italic;
}

.btn-success {
  color: #fff!important;
}

.note-group-select-from-files {
  display: none;
}

.new-card {
  padding-bottom: 15px;
}