<!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2022 <a href="https://www.linkedin.com/in/constant-cuvelier-1ab419216/" rel="noopener" target="_blank">Constant Cuvelier</a>.</strong>
    Tous droits réservés.
</footer>
