<div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <label for="comment">Message</label>
        {% for error in formErrors.comment %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        <textarea name="comment" rows="5" class="form-control" placeholder="Commentaire" id="comment" required minlength="5" maxlength="255">{% if formInputs.comment is defined %}{{ formInputs.comment | convert_encoding('UTF-8', 'ISO-8859-1')}}{% endif %}</textarea>
    </div>
</div>
<br>