<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="../../../assets/css/style.css">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="../../../assets/plugins/fontawesome-free/css/all.min.css">
        <!-- IonIcons -->
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../../../assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../../../assets/img/favicon/site.webmanifest">
        {% block style %}
        {% endblock %}
        <!-- Theme style -->
        <link rel="stylesheet" href="../../../assets/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="hold-transition sidebar-mini">
        <div class="wrapper">
        {% include 'include/admin/sidebar.html.twig' %}
        {% include 'include/admin/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'include/admin/footer.html.twig' %}
        </div>
        <!-- jQuery -->
        <script src="../../../assets/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE -->
        <script src="../../../assets/dist/js/adminlte.js"></script>
        <!-- Global Js-->
        <script src="../../../assets/js/global.js"></script>
        {% block script %}{% endblock %}
</body>
</html>