{% extends 'admin/base.html.twig' %}

{% block style %}
    <!-- summernote -->
    <link rel="stylesheet" href="../../../assets/plugins/summernote/summernote-bs4.css">
{% endblock %}

{% block title %}Modifier un article | Administration{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% include 'include/flashmessages.html.twig' %}
                        <h1>Modifier un article</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/tableau-de-bord">Accueil</a></li>
                            <li class="breadcrumb-item active">Modifier un article</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Modifier l'article</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form" action="/admin/article/modifier/{{ post.id }}" method="POST" enctype="multipart/form-data">
                                {% include 'form/admin/post_form.html.twig' %}
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-1"></div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block script %}
    <!-- bs-custom-file-input -->
    <script src="../../../assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../../assets/dist/js/demo.js"></script>
    <!-- Summernote -->
    <script src="../../../assets/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="../../../assets/plugins/summernote/lang/summernote-fr-FR.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#content').summernote({
                lang: "fr-FR"
            });
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>
{% endblock %}